<html>
    <body>
        <h1>Messages index</h1>
        <%= link_to "Nuevo mensaje", new_message_path %>
        <table>
            <thead>
                <tr>
                    <th>Chat id</th>
                    <th>User id</th>
                    <th>Body</th>
                </tr>
            </thead>
                <tbody id="messages">
                    <% @messages.each do |message| %>
                        <tr>
                            <td><%= message.chat_id %></td>
                            <td><%= message.user_id %></td>
                            <td><%= message.body %></td>
                            <td><%= link_to 'Show', message_path(message) %></td>
                            <td><%= link_to 'Edit', edit_message_path(message) %></td>
                        </tr>
                <% end %>
            </tbody>
        </table>
    </body>    
</html>



