<h1>New message</h1>

<%= form_with model: @message, local: true do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> impidieron guardar el mensaje:</h2>
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :chat_id, "Chat" %><br>
    <%= f.select :chat_id, Chat.all.map { |c| ["Chat #{c.id}: #{c.sender.first_name} #{c.sender.last_name} → #{c.receiver.first_name} #{c.receiver.last_name}", c.id] }, prompt: "Selecciona un chat" %>
  </div>

  <div>
    <%= f.label :user_id, "Autor" %><br>
    <%= f.select :user_id, User.all.map { |u| [u.email, u.id] }, prompt: "Selecciona un autor" %>
  </div>

  <div>
    <%= f.label :body, "Mensaje" %><br>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit "Crear Mensaje" %>
  </div>
<% end %>